<!DOCTYPE html>
<!--no le ponemos la navbar para que no te salgas de esa pantalla-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/head :: head('Crear cuenta')}"></head>
    <body class="d-flex align-items-center py-4 bg-light min-vh-100">
        <main class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
<!--                    debe coincidir con el controller de postmapping, para que no viaje la password en url-->
                    <form th:action="@{/register}" method="post" class="card shadow-sm p-4" th:object="${user}"></form>
<!--                    Aqui poner un logo y un titulo-->
                    <div class="text-center mb-3">
                        <img th:src="@{/images/logo.png}" alt="Logo" class="mb-2 rounded-3" style="with: 150px;">
                        <h1 class="h3 mt-3 fw-normal">Crear cuenta</h1>
                    </div>
<!--                    errores con ALERT EN ROJO U EMAIL OCUPADO-->
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username"  placeholder="Manola" required
                               th:field="*{username}" min="3" maxlength="100">
                        <label for="username">Nombre</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Manola@gmail.com" required
                               th:field="*{email}">
                        <label for="email">Email</label>
                    </div>
<!--                    con redirect ad atribute podriamos hacer lo de los carteles si algo esta mal escrito-->
                    <div class="form-floating mb-3">
                        <input type="password" th:field="*{password}"
                        class="form-control" id="password"
                        required minlength="4">
                        <label for="password">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" th:field="*{passwordConfirm}"
                               class="form-control" id="passwordConfirm"
                               required minlength="4">
                        <label for="passwordConfirm">Repite la password</label>
                    </div>

                    <button type="submit" class="btn btn-success">Crear cuenta</button>

                    <p class="mt-3 text-center small">Ya tienes cuenta?
                        <a th:href="@{/login}">Inicia sesion</a>
                    </p>

                </div>
            </div>
        </main>

        <script th:replace="~{layout/footer :: scripts}"></script>

    </body>

</html>